<h1>Multiply Numbers</h1>

<div class="center">
  <form name="mutiply">
<div class="content">
    <label >Enter input1 :</label><br /><br />
    <input ng-keyup="disableprop=(secondNumber >=0 && firstNumber >= 0) ? false:true" class="wrap" ng-model="firstNumber" type="number" required>
    <span ng-class="{'has-error': !firstNumber >= 0,'normal': firstNumber >= 0 }">Enter Valid input >=0</span>
  </div>
  <br />
  <br>
  <div class="content">
    <label  >Enter input2 :</label><br /><br />
    <input ng-keyup="disableprop=(secondNumber >=0 && firstNumber >= 0) ? false:true" class="wrap" ng-model="secondNumber" type="number" required>
    <span ng-class="{'has-error': !secondNumber >=0,'normal': secondNumber >= 0 }">Enter Valid input >=0</span>
  </div>
  <br />

  <br>
  <br>

  <button class="wrap res" ng-disabled="disableprop" ng-click="result=calc(firstNumber,secondNumber)">Result</button>
  <br>
  <br>Result Value: {{result}}
</form>
</div>
